---
---
@import "{{ site.theme }}";

$ucla-blue: #2774AE;
$ucla-gold: #FFD100;

.page-header {
  background-color: $ucla-blue;
  background-image: none;
}

.btn {
  background-color: $ucla-gold;
  color: $ucla-blue !important;
  border: 1px solid $ucla-blue;
}

section.main-content h1, section.main-content h2, section.main-content h3 {
  color: $ucla-blue;
}
